<div class="row">
  <div class="col-2">
    <%= render 'dashboard_sidebar' %>
  </div>
  <section class="col-6">
    <header class="page-header">
      <h1 class="page-title">Dashboard</h1>
    </header>
    <div class="row">
      <div class="col">
        <%= render 'financials' %>
      </div>
      <div class="col">
        <%= render 'financials' %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= render 'news' %>
      </div>
    </div>
  </section>
</div>
