<ul role="menu" aria-label="Cases" class="submenu">
  <% ProjectCategory.all.order(:label).each do |category| %>
    <% if Project.with_category(category, params[:query]).count > 0 %>
      <li>
        <%= link_to projects_path(category: category, query: params[:query]), role: 'menuitem', class: "menu-item#{ ' orange-color' if params[:category] == category.id.to_s }" do %>
          <%= dot_label("#{category.label.capitalize} (#{Project.filter_by_query(params[:query]).where(category: category).count})", category.color) %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
