<div class="row">
  <div class="col-2">
    <%= render 'sidebar' %>
  </div>
  <section class="col-6">
    <header class="section-header">
      <h1 class="section-title">Deadlines</h1>
      <%= render 'filters' %>
    </header>
    <ul class="box">
      <% @deadlines.distinct.pluck(:date).each do |date| %>
      <li><%= render 'card', date: date %></li>
      <% end %>
    </ul>
  </section>
</div>
