<div class="row">
  <div class="col-2">
    <%= render 'sidebar' %>
  </div>
  <section class="col-6">
    <div class="box">
      <div class="box-header">
        <h1>Deadlines</h1>
        <%= link_to "Assigned to", deadlines_path(assignee: "2") %>
        <%= link_to "All (#{@deadlines.count})", deadlines_path %>
      </div>
      <ul class="box-content">
        <% @deadlines.each do |deadline| %>
        <li><%= render 'card', deadline: deadline %></li>
        <% end %>
      </ul>
    </div>
  </section>
</div>
