<section class="container">
  <div class="columns">
    <div class="column is-4 is-offset-4">
      <div class="box">
        <h1 class="title is-4 has-text-centered">Sign up</h1><hr />

        <%= render 'form', user: @user %>
      </div>
    </div>
  </div>
</section>
