<div class="g-block-center">
  <div class="box">
    <div class="box-header">
      <h1>Log in</h1>
    </div>
    <div class="box-content">
      <form class="form">
        <div class="form-group">
          <div class="form-group-header">
            <label for="example-text">Example Text</label>
          </div>
          <div class="form-group-body">
            <input class="form-control" type="text" placeholder="Example Value" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
          </div>
        </div>

        <div class="form-group">
          <div class="form-group-header">
            <label for="example-select">Example Select</label>
          </div>
          <div class="form-group-body">
            <div class="form-select">
              <select id="example-select">
                <option>Choose an option</option>
                <option>Git</option>
                <option>Subversion</option>
                <option>Social Coding</option>
                <option>Beets</option>
                <option>Bears</option>
                <option>Battlestar Galactica</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group-header">
            <label for="example-textarea">Example Textarea</label>
          </div>
          <div class="form-group-body">
            <textarea class="form-control" id="example-textarea"></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" placeholder="Text input">
  </div>
</div>

<div class="field">
  <label class="label">Username</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-success" type="text" placeholder="Text input" value="bulma">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </div>
  <p class="help is-success">This username is available</p>
</div>

<div class="field">
  <label class="label">Email</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
  </div>
  <p class="help is-danger">This email is invalid</p>
</div>

<div class="field">
  <label class="label">Subject</label>
  <div class="control">
    <div class="select">
      <select>
        <option>Select dropdown</option>
        <option>With options</option>
      </select>
    </div>
  </div>
</div>

<div class="field">
  <label class="label">Message</label>
  <div class="control">
    <textarea class="textarea" placeholder="Textarea"></textarea>
  </div>
</div>

<div class="field">
  <div class="control">
    <label class="checkbox">
      <input type="checkbox">
      I agree to the <a href="#">terms and conditions</a>
    </label>
  </div>
</div>

<div class="field">
  <div class="control">
    <label class="radio">
      <input type="radio" name="question">
      Yes
    </label>
    <label class="radio">
      <input type="radio" name="question">
      No
    </label>
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">Submit</button>
  </div>
  <div class="control">
    <button class="button is-link is-light">Cancel</button>
  </div>
</div>
