<div class="narrow block">
  <div class="fluid-width">
      <div class="box">
        <div class="box-header">
          <h1>Log in</h1>
        </div>
        <div class="box-content">
          <form class="form">
            <div class="input-group">
              <input type="text" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Username" />
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path fill="currentColor" d="M224 256a128 128 0 100-256 128 128 0 000 256zm89.6 32h-16.7a174.3 174.3 0 01-145.8 0h-16.7A134.4 134.4 0 000 422.4V464a48 48 0 0048 48h352a48 48 0 0048-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"/>
                </svg>
              </div>
            </div>
            <div class="input-group">
              <input type="password" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Password" />
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="currentColor" d="M512 176a176 176 0 01-208.8 173l-24 27a24 24 0 01-18 8H224v40a24 24 0 01-24 24h-40v40a24 24 0 01-24 24H24a24 24 0 01-24-24v-78a24 24 0 017-17l161.8-161.8A176 176 0 11512 176zm-176-48a48 48 0 1096 0 48 48 0 00-96 0z"/>
                </svg>
              </div>
            </div>
            <div class="input-group">
              <div class="button blue">Log in</div>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>

<div class="narrow block">
  <div class="fluid-width">
      <div class="box">
        <div class="box-content">
          <p>Don't have an account? <a href="#">Click here to sign up</a>.</p>
        </div>
      </div>
  </div>
</div>

<div id="particles-js"></div>
