<div class="row">
  <div class="col">
    <header class="page-header">
      <h1 class="title">Import a contact</h1>
    </header>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= render 'import_contact' %>
  </div>
</div>
