<div class="row">
  <aside class="col-2">
    <%= render 'sidebar' %>
  </aside>
  <section class="col-6">
    <div class="box">
      <div class="box-header">
        <h1>Contacts</h1>
        <span><strong>All (<%= @contacts.count %>)</strong></span>
      </div>
      <ul class="box-content">
        <% @contacts.each do |contact| %>
        <li><%= render 'card', contact: contact %></li>
        <% end %>
      </ul>
    </div>
  </section>
</div>
