<div class="row">
  <div class="col-2">
    <%= render 'sidebar' %>
  </div>
  <section class="col-6">
    <header>
      <h1>Contacts</h1>
      <%= render 'filters' %>
    </header>
    <ul class="row">
      <% @contacts.each do |contact| %>
      <li class="col-4"><%= render 'card', contact: contact %></li>
      <% end %>
    </ul>
  </section>
</div>
