<div class="row">
  <div class="col">
    <header class="page-header">
      <h1 class="title"><%= t('.title') %></h1>
      <%= link_to t('.import_tel_search'), contacts_import_path, class: 'push button blue' %>
    </header>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= render 'form', contact: @contact %>
  </div>
</div>
