<div class="card">
  <div class="card-header">
    <a href="#"><%= project.label %></a>
  </div>
  <div class="card-content">
    <p><%= project.description %></p>
  </div>
  <div class="card-footer">
    <span class="dot-label">
      <span class="dot"></span>
      <span></span>
    </span>
    <span class="keys">Party in two cases.</span>
  </div>
</div>
