<% if @project.contacts.clients.exists? %>
<div class="col">
  <h3 class="heading">Clients</h3>
  <ul>
    <% @project.contacts.clients.each do |party| %>
    <li><%= link_to party.combine(:full_name), party %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% if @project.contacts.adversaries.exists? %>
<div class="col">
  <h3 class="heading">Adversaries</h3>
  <ul>
    <% @project.contacts.adversaries.each do |party| %>
    <li><%= link_to party.combine(:full_name), party %></li>
    <% end %>
  </ul>
</div>
<% end %>
