<% if @project.clients.exists? %>
<div class="col">
  <h3 class="heading">Clients</h3>
  <ul>
    <% @project.clients.each do |client| %>
    <li><%= link_to build_name(client), client %></li>
    <% end %>
  </ul>
</div>
<% end %>

<% if @project.adversaries.exists? %>
<div class="col">
  <h3 class="heading">Adversaries</h3>
  <ul>
    <% @project.adversaries.each do |adversary| %>
    <li><%= link_to build_name(adversary), adversary %></li>
    <% end %>
  </ul>
</div>
<% end %>
