<div class="row">
  <div class="col-2">
    <%= render 'sidebar' %>
  </div>
  <section class="col-6">
    <header class="section-header">
      <h1 class="section-title">Cases</h1>
      <%= render 'filters' %>
    </header>
    <ul>
      <% @projects.each do |project| %>
      <li><%= render 'card', project: project %></li>
      <% end %>
    </ul>
  </section>
</div>
