<div class="row">
  <div class="col-2">
    <%= render 'sidebar' %>
  </div>
  <section class="col-6">
    <div class="box">
      <div class="box-header">
        <h1>Cases</h1>
        <span><strong>All (<%= @projects.count %>)</strong></span>
      </div>
      <ul class="box-content">
        <% @projects.each do |project| %>
        <li><%= render 'card', project: project %></li>
        <% end %>
      </ul>
    </div>
  </section>
</div>
