<div class="row">
  <div class="col-2">
    <%= render 'dashboard_sidebar' %>
  </div>
  <div class="col-4">
    <section class="box">
      <header class="box-header">
        <h2>Preferred settings</h2>
      </header>
      <div class="box-content">
        default fee
        language
      </div>
    </section>
  </div>
</div>

<div class="row">
  <div class="col">

      <span class="button">cancel</span>
      <span class="button">update</span>
  </div>
</div>
