// Block elements
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.card {
  &-header {
    display: flex;
    align-items: baseline;
    font-weight: $medium-font-weight;
  }

  &-content {
    margin-top: $box-padding-y;
    margin-bottom: $box-padding-y;
  }

  &-footer {
    & > * + * {
      margin-left: $gutter;
    }
  }
}
