// Block elements
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.card {
  width: 100%;
  padding: $box-padding;


  &-header {
    font-weight: $medium-font-weight;
  }

  &-footer {
    @extend .small;
  }

  & + & {
    border-top: $border-base;
  }
}

.flash {
  display: flex;
  z-index: 1000;
  align-items: center;
  justify-content: flex-start;
  margin-top: $gutter;
  padding: 1em;
  border: $border-base;
  border-radius: $border-radius;
  color: $white;

  & > .flash-close {
    margin-left: auto;
    color: inherit;
  }

  &.blue {
    border-color: $blue-400;
    background-color: rgba($blue-500, .7);
  }

  &.green {
    border-color: $green-400;
    background-color: rgba($green-500, .7);
  }

  &.orange {
    border-color: $orange-300;
    background-color: rgba($orange-400, .7);
  }

  &.red {
    border-color: $red-500;
    background-color: rgba($red-400, .7);
  }

  &.yellow {
    border-color: $yellow-200;
    background-color: rgba($yellow-300, .7);
  }
}

.sidebar {
  font-weight: 500;

  &-category {
    & + .sidebar-category {
      border-top: $border-base;
    }
  }
}
