// Block elements
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.card {
  width: 100%;
  padding: $box-padding;


  &-header {
    font-weight: $medium-font-weight;
  }

  &-footer {
    @extend .small;
  }

  & + & {
    border-top: $border-base;
  }
}

.flash {
  display: flex;
  z-index: 1000;
  align-items: center;
  justify-content: flex-start;
  margin-top: $gutter;
  padding: 1em;
  border: $border-base;
  border-radius: $border-radius;
  color: $white;

  & > .flash-close {
    margin-left: auto;
    color: inherit;
  }

  &.notice {
    border-color: $blue-400;
    background-color: rgba($blue-500, .7);
  }

  &.alert {
    border-color: $red-500;
    background-color: rgba($red-400, .7);
  }
}

.sidebar {
  font-weight: 500;

  &-category:not(:first-of-type) {
    & > .box-row {
      border-top: $border-base;
    }
  }

  &-category {
    & > .box-row {
      & + ul {
        border-top: $border-base;
      }
    }
  }
}
