// Box layout
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.box {
  width: 100%;
  margin-top: $gutter;
  overflow: hidden;
  border: $border-base;
  border-radius: $border-radius;
  background-color: $background-color-primary;

  &-header {
    @extend %heading;
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    margin-bottom: ($border-width * -1); // this is to compensate the border-bottom of 1px
    padding: $box-padding;
    border-bottom: $border-base;
    background-color: $background-color-secondary;

    & > * {
      margin-left: $box-padding-y;

      &:first-child {
        margin-right: auto;
        margin-left: 0;
      }
    }
  }

  &-content {
    padding: $box-padding;
  }

  &-item {
    display: list-item;
    padding: $box-padding;
    white-space: nowrap;
    transition: background-color $transition;
  }
}

nav.box-content {
  padding: 0;

  a,
  .is-active {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: $box-padding-y;
    transition: background-color $transition;

    &:not(:first-child) {
      border-top: $border-base;
    }
  }

  a {
    &:hover,
    &:active {
      background-color: $background-color-secondary;
      text-decoration: none;

      .box-item {
        text-decoration: underline;
      }
    }
  }

  .is-active {
    background-color: $background-color-secondary;

    .box-item {
      padding-left: ($box-padding-x - .3rem);
      border-left: .3rem solid $grey-200;
    }
  }
}

table.box-content {
  width: 100%;
  margin-left: 0;
  padding: 0;

  &.box-content {
    th, td {
      padding: $box-padding;
    }
  }
}

ul.box-content {
  padding: 0;

  li {
    padding: $box-padding;

    &:not(:first-child) {
      border-top: $border-base;
    }
  }
}
