// Box layout
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.box {
  position: relative;
  width: 100%;
  margin-top: $gutter;
  overflow: hidden;
  border: $border-base;
  border-radius: $border-radius;
  background-color: $background-color-primary;

  &-header {
    padding: $box-padding;
    border-bottom: $border-base;
    background-color: $background-color-secondary;
    font-weight: $medium-font-weight;
  }

  &-row {
    display: block;

    & + & {
      border-top: $border-base;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: ($box-padding-y / 1.5) $box-padding-x;
    border-top: $border-base;

    .box-header + & {
      border-top: none;
    }
  }

  &-link {
    display: block;
    position: relative;
    width: 100%;
    margin-top: $gutter;
    overflow: hidden;
    border: $border-base;
    border-radius: $border-radius;
    color: inherit;
    transition: background-color $transition;

    &:focus,
    &:hover {
      border-color: $grey-400;
      background-color: lighten($background-color-primary, 3%);
      text-decoration: none;
    }
  }

  &-content {
    display: block;
    padding: $box-padding;
  }

  &.invisible {
    margin-bottom: 0;
    border-color: transparent;

    .box-header {
      border: $border-base;
      border-radius: $border-radius;
    }

    .box-content {
      padding-top: 0;
    }
  }
}
