// Box
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.box {
  -webkit-box-shadow: $box-shadow;
  display: block;
  position: relative;
  width: 100%;
  margin-top: $gutter;
  padding: 0;
  overflow: hidden;
  border: $border-base;
  border-radius: $border-radius;
  background-color: $background-color-primary;
  box-shadow: $box-shadow;

  &-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: $box-padding;
    border-bottom: $border-base;
    background-color: $background-color-secondary;
    color: inherit;
    font-weight: $medium-font-weight;
    text-decoration: none !important;
  }

  &-content {
    padding: $box-padding;
    .col:not(:first-of-type) {
      border-left: $border-base;
    }
  }

  &-row {
    padding: $box-padding;

    &:not(:first-child) {
      border-top: $border-base;
    }

    .box-header + & {
      border-top: none;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: ($box-padding-y / 1.5) $box-padding-x;
    border-top: $border-base;

    .box-header + & {
      border-top: none;
    }
  }
}

a.box {
  color: inherit;
  text-decoration: none !important;

  &:active,
  &:hover {
    border-color: $text-color-highlight;
  }
}

li.box-row {
  padding: 0;
  list-style: none;
}
