// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  margin: 0;
  padding: .2em .9em;
  overflow: visible;
  border: $border-width solid $grey-400;
  border-radius: $border-radius;
  background-color: $grey-800;
  box-shadow: none;
  color: $white;
  font-family: inherit;
  font-size: $small-font-size;
  font-weight: $bold-font-weight;
  letter-spacing: 0.035rem;
  line-height: $base-line-height;
  text-align: center;
  text-decoration: none !important;
  text-transform: none;
  white-space: nowrap;
  cursor: pointer;
  transition: $transition;
  transition-property: background-color, border-color;

  &:focus,
  &:hover {
    border-color: $grey-300;
    outline: 0;
    background-color: $grey-500;
  }

  &.big {
    padding: ($box-padding-y / 3) $box-padding-x;
    font-size: $base-font-size;
    text-transform: uppercase;
  }

  &.full-width {
    width: 100%;
  }

  &.ghost {
    padding: 0;
    border: none;
    background-color: transparent;
    line-height: 1;
  }

  &.blue {
    border-color: $blue-400;
    background-color: $blue-700;

    &:active,
    &:hover {
      border-color: $blue-300;
      background-color: $blue-500;
    }
  }

  &.green {
    border-color: $green-400;
    background-color: $green-700;

    &:active,
    &:hover {
      border-color: $green-300;
      background-color: $green-500;
    }
  }

  &.orange {
    border-color: $orange-400;
    background-color: $orange-600;

    &:active,
    &:hover {
      border-color: $orange-200;
      background-color: $orange-400;
    }
  }

  &[disabled] {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;

    &:focus,
    &:hover {
      border-color: $text-color-highlight;
      background-color: $text-color-highlight;
    }
  }

  &.dropdown-trigger {
    padding-right: 2.6rem;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="18"><path fill="%23'+str-slice(
    inspect($white),
    2
    )+'" d="M0,0l6,8l6-8"/></svg>');
    background-position: center right;
    background-repeat: no-repeat;
  }

  &::-moz-focus-inner {
    padding: 0;
    border-style: none
  }

  &:-moz-focusring {
    outline: none;
  }
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

.button-group {
  flex: 0 1 auto;
  padding-left: $box-padding-y;
  white-space: nowrap;

  & > *:not(:first-child) {
    margin-left: .5em;
  }
}

.buttons-merged {
  display: inline-flex;
  margin-left: .1rem;

  & > .button {
    margin-left: -.1rem;

    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:hover,
    &:active {
      z-index: 10;
    }
  }

  & > details,
  & > .button + .button {
    margin-left: -.1rem;

    &:not(:first-child) {
      .button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    &:not(:last-child) {
      .button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:hover,
    &:active {
      z-index: 10;
    }
  }
}

.icon-button {
  width: $large-icon;
  height: $large-icon;
  background-position: center;
  background-size: $large-icon;

  &.circle {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16 16"><path fill="%23'+str-slice(
    inspect($green),
    2
    )+'" d="M8 1.5a6.5 6.5 0 100 13 6.5 6.5 0 000-13zM0 8a8 8 0 1116 0A8 8 0 010 8z"></path></svg>');
  }
}
