// Buttons
// ––––––––––––––––––––––––––––––––––––––––––––––––––

%button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: .4em 1em;
  overflow: visible;
  border: $border-width solid $grey-500;
  border-radius: $border-radius;
  background-color: $grey-700;
  box-shadow: none;
  color: $grey-100;
  vertical-align: middle;
  white-space: nowrap;
  transition: $transition;
  transition-property: background-color, border-color;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: auto;
  overflow: visible;
  border: 0;
  background-color: transparent;
  box-shadow: none;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
}

.button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  display: inline-flex;
  @extend %heading;
  @extend %button;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &:focus,
  &:hover {
    border-color: $grey-300;
    background-color: $grey-600;
    text-decoration: none !important;
  }

  &.small {
    padding: .2em .8em;
    text-transform: none;
  }

  &.blue,
  &.green,
  &.orange,
  &.red,
  &.yellow {
    color: $white;
  }

  &.blue {
    border-color: $blue-400;
    background-color: $blue-500;

    &:active,
    &:hover {
      border-color: $blue-300;
      background-color: $blue-400;
    }
  }

  &.green {
    border-color: $green-400;
    background-color: $green-500;

    &:active,
    &:hover {
      border-color: $green-300;
      background-color: $green-400;
    }
  }

  &.orange {
    border-color: $orange-300;
    background-color: $orange-400;

    &:active,
    &:hover {
      border-color: $orange-200;
      background-color: $orange-300;
    }
  }

  &.red {
    border-color: $red-300;
    background-color: $red-400;

    &:active,
    &:hover {
      border-color: $red-200;
      background-color: $red-300;
    }
  }

  &.yellow {
    border-color: $yellow-200;
    background-color: $yellow-300;

    &:active,
    &:hover {
      border-color: $yellow-100;
      background-color: $yellow-200;
    }
  }

  &.outline {
    background-color: transparent;
  }

  &:-moz-focusring {
    outline: 1px dotted ButtonText
  }
}
