// Card
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.card {
  padding: ($box-padding-y * 0.65) ($box-padding-x * 0.65);
  font-size: $small-font-size;

  &-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: .5em;
    font-size: $base-font-size;
    font-weight: $bold-font-weight;
  }

  &-footer {
    font-size: $small-font-size;
  }
}
