// Card layout
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.card {
  width: 100%;
  padding: $box-padding;

  &-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: $medium-font-weight;
  }
}
