// Card
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.card {
  padding: ($box-padding-y * 0.65) ($box-padding-x * 0.65);
  font-size: $small-font-size;

  &-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: $base-font-size;
    font-weight: $bold-font-weight;
  }

  &-content {
    margin-top: .25em;
    margin-bottom: .25em;
  }

  &-footer {
    color: $text-color-secondary;
    font-size: $small-font-size;
  }

  &-list {
    -webkit-box-shadow: inset $box-shadow;
    padding: ($box-padding-x / 2) ($box-padding-x / 2);
    box-shadow: inset $box-shadow;

    .card {
      display: block;
      border: $border-base;
      background-color: $background-color-secondary;
      cursor: pointer;

      &:not(:first-child) {
        margin-top: ($box-padding-x / 2);
      }

      &:active,
      &:hover {
        border-color: $text-color-highlight;
        background-color: $background-color-secondary;
      }
    }
  }
}
