// Color palette
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// –– Black/white –––––––––––––––––––––––––––––––––––

$black: #000000;
$white: #ffffff;

// –– Grey ––––––––––––––––––––––––––––––––––––––––––

$grey-100: #adbac7;
$grey-200: #909dab;
$grey-300: #768390;
$grey-400: #636e7b;
$grey-500: #545d68;
$grey-600: #444c56;
$grey-700: #373e47;
$grey-800: #2d333b;
$grey-900: #22272e;
$grey: $grey-700;

.grey-bg {
  background-color: $grey;
}

// –– Blue ––––––––––––––––––––––––––––––––––––––––––

$blue-100: #96d0ff;
$blue-200: #6cb6ff;
$blue-300: #539bf5;
$blue-400: #4184e4;
$blue-500: #316dca;
$blue-600: #255ab2;
$blue-700: #1b4b91;
$blue-800: #143d79;
$blue-900: #0f2d5c;
$blue: $blue-800;

.blue-bg {
  background-color: $blue;
}

// –– Green –––––––––––––––––––––––––––––––––––––––––

$green-100: #8ddb8c;
$green-200: #6bc46d;
$green-300: #57ab5a;
$green-400: #46954a;
$green-500: #347d39;
$green-600: #2b6a30;
$green-700: #245829;
$green-800: #1b4721;
$green-900: #113417;
$green: $green-800;

.green-bg {
  background-color: $green;
}

// –– Yellow ––––––––––––––––––––––––––––––––––––––––

$yellow-100: #eac55f;
$yellow-200: #daaa3f;
$yellow-300: #c69026;
$yellow-400: #ae7c14;
$yellow-500: #966600;
$yellow-600: #805400;
$yellow-700: #6c4400;
$yellow-800: #593600;
$yellow-900: #452700;
$yellow: $yellow-400;

.yellow-bg {
  background-color: $yellow;
}

// –– Orange ––––––––––––––––––––––––––––––––––––––––

$orange-100: #ffbc6f;
$orange-200: #f69d50;
$orange-300: #e0823d;
$orange-400: #cc6b2c;
$orange-500: #ae5622;
$orange-600: #94471b;
$orange-700: #7f3913;
$orange-800: #682d0f;
$orange-900: #4d210c;
$orange: $orange-600;

.orange-bg {
  background-color: $orange;
}

// –– Red –––––––––––––––––––––––––––––––––––––––––––

$red-100: #ffb8b0;
$red-200: #ff938a;
$red-300: #f47067;
$red-400: #e5534b;
$red-500: #c93c37;
$red-600: #ad2e2c;
$red-700: #922323;
$red-800: #78191b;
$red-900: #78191b;
$red: $red-500;

.red-bg {
  background-color: $red;
}
