// Dividers
// ––––––––––––––––––––––––––––––––––––––––––––––––––

hr {
  margin-top: $gutter;
  margin-bottom: $gutter;
  border-top: $border-base;

  .card & {
    width: calc(100% + (#{$gutter} * 2));
    margin: $box-padding;
    margin-left: ($gutter * -1);
  }
}
