// Dropdowns
// ––––––––––––––––––––––––––––––––––––––––––––––––––

details {
  display: inline-block;
  position: relative;

  & > summary {
    list-style: none;

    &::-webkit-details-marker {
      display:none;
    }

    & > .button {
      &.small {
        padding-right: $box-padding-x;
        padding-left: $box-padding-x;
      }

      & > .icon {
        margin-right: -.5em;
      }
    }

    & + .dropdown {
      z-index: 1000;
      position: absolute;
      width: auto;
      max-height: 60vh;
      margin-top: $box-padding-y;
      overflow-y: scroll;
      box-shadow: rgba(28, 33, 40, .85) 0 1em 2em 0;
      white-space: nowrap;
    }
  }
}
