// Menus
// ––––––––––––––––––––––––––––––––––––––––––––––––––

details {
  display: inline-block;
  position: relative;
}

summary {
  display: inline-block;
  list-style: none;

  &::-webkit-details-marker {
    display:none;
  }
}

.dropdown {
  &-content {
    z-index: 10;
    position: absolute;
    width: auto;
    max-height: 60vh;
    margin-top: $box-padding-x;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: rgba(28, 33, 40, .85) 0 1em 2em 0;
    font-size: $small-font-size;
    white-space: nowrap;
    cursor: default;

    .box {
      margin: 0;
    }

    .menu-header {
      display: block;
      padding: ($box-padding-y / 2) ($box-padding-x / 2);
      border-bottom: 0;
      background-color: $background-color-secondary;
    }

    .menu-item {
      padding: ($box-padding-y / 2) ($box-padding-x / 2);
    }
  }

  &-trigger {
    display: inline-block;
    cursor: pointer;

    &:hover,
    &:active {
      .icon {
        fill: $text-color-highlight;
        border-color: $text-color-highlight;
      }
    }
  }
}
