// Dropdowns
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.dropdown {
  position: relative;
  vertical-align: baseline;

  &-trigger {
    cursor: pointer;
    transition: $transition;
  }

  &-menu {
    display: block;
    z-index: 100;
    position: absolute;
    right: ($border-radius * -1);
    box-shadow: rgba(28, 33, 40, .85) 0 1em 2em 0;
    opacity: 1;
    transition: height $transition, opacity $transition;

    .box {
      margin-top: 1rem;
      background-color: $background-color-secondary;

      &-content > li {
        padding: 0;
      }
    }

    & *:not(a) {
      cursor: default;
    }
  }

  &::after {
    position: absolute;
    right: calc(50% - .8rem);
    bottom: -1rem;
    border: .75rem solid transparent;
    border-bottom: .75rem solid $grey-600;
    content: '';
    pointer-events: none;
  }

  &.is-closed {

    &::after {
      display: none;
    }

    .dropdown-menu {
      display: none;
      opacity: 0;
    }
  }
}
