// Forms
// ––––––––––––––––––––––––––––––––––––––––––––––––––

form {
  width: 100%;
}

.input,
input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='week'],
input:not([type]),
select,
textarea {
  display: inline-block;
  width: 100%;
  padding: .2em .5em;
  border: $border-width solid $grey-400;
  border-radius: $border-radius;
  background-color: $background-color-secondary;
  box-shadow: none;
  color: $white;
  font-weight: $medium-font-weight;
  line-height: $base-line-height;
  text-decoration: none !important;
  text-transform: none;
  transition: $transition;
  transition-property: background-color, border-color;

  &:active,
  &:focus {
    border-color: $blue-500;
  }

  &.placeholder {
    border-color: transparent;
  }
}

select {
  -webkit-appearance: none;
-moz-appearance: none;
  padding-right: 2.6rem;
  padding-left: 0.25em;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="18"><path fill="%23'+str-slice(
  inspect($white),
  2
  )+'" d="M0,0l6,8l6-8"/></svg>');
  background-position: center right;
  background-repeat: no-repeat;
  font-weight: $base-font-weight;

  &::-ms-expand {
      display: none;
  }
}

textarea {
  min-height: 6.5rem;
  overflow: auto;
}

label,
legend {
  box-sizing: border-box;
  display: inline-block;
  width: auto;
  max-width: 100%;
  color: inherit;
  white-space: normal
}

progress {
  vertical-align: baseline
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;
}

input[type='number'] {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    height: auto
  }
}

input[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;

  &::-webkit-search-decoration {
    -webkit-appearance: none
  }
}

input[type='date'] {
  height: 3.5rem;
}

::placeholder {
  color: $grey-400;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

.form {
  &-field,
  &-action {
    margin: $box-padding;
      font-weight: $medium-font-weight;

    label {
      margin-bottom: .5em;
      font-size: $small-font-size;
      letter-spacing: .025em;
    }

    input {
    }
  }

  &-action {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin-top: $box-padding-x;
  }
}

.checkboxes {
  height: 100%;
  max-height: 20rem;
  padding: ($box-padding-y / 2) $box-padding-x;
  overflow-y: scroll;

  &-wrapper {
    border: $border-width solid $grey-400;
    border-radius: $border-radius;
    background-color: $background-color-secondary;
  }

  label {
    display: block;
    color: $white;
  }

  input {
    margin-right: .5em;
  }
}

.vertical-flex {
  display: flex;
  flex-direction: column;

  .flex-item {
    flex: 1 0 50%;

    & + .flex-item {
      margin-top: 1em;
    }
  }
}
