// Forms
// ––––––––––––––––––––––––––––––––––––––––––––––––––

form {
  width: 100%;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='week'],
input:not([type]),
textarea,
select {
  @extend %button;
  display: block;
  width: 100%;

  &:focus {
    border-color: $blue-500;
  }
}

select {
  &::-ms-expand {
    display: none;
  }
}

textarea {
  min-height: 6.5rem;
  padding: .5em 1em;
  overflow: auto;
}

label,
legend {
  box-sizing: border-box;
  display: block;
  max-width: 100%;
  color: inherit;
  white-space: normal
}

progress {
  vertical-align: baseline
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;
}

input[type='number'] {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    height: auto
  }
}

input[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;

  &::-webkit-search-decoration {
    -webkit-appearance: none
  }
}

::placeholder {
  color: $grey-400;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

.input-group {
  position: relative;
  margin-top: $box-padding-y;
  margin-bottom: $box-padding-y;

  .icon {
    position: absolute;
    top: calc(50% - .7em);
    left: .7em;
    width: 1.4em;
    height: 1.4em;
    color: $grey-300;
    pointer-events: none;
  }

  input:not(.button) {
    position: relative;
    padding-left: ($gutter * 1.8);
  }

  & + & {
    margin-top: $gutter;
  }
}

.inline-form {
  display: flex;

  input {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:active,
    &:focus {
      & + button {
        border-color: $blue-500;
      }
    }
  }

  button {
    position: relative;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: $grey-400;
    transition: color $transition;

    &:active,
    &:focus,
    &:hover {
      border-color: $grey-500;
      background-color: $grey-700;
      color: inherit;
    }
  }
}

.checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;

  & > input[type=checkbox] {
    clip: rect(0 0 0 0);
    position: absolute;
    width: 1px;
    height: 1px; margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;

    & ~ .icon {
      transition: opacity .5s;

      &.issue-closed {
        display: none;
        opacity: 0;
      }

      &.issue-opened {
        fill: currentColor;
        display: inline-block;
        opacity: 1;
      }
    }

    &:checked ~ .icon {
      &.issue-opened {
        display: none !important;
        opacity: 0 !important;
      }

      &.issue-closed {
        display: inline-block !important;
        opacity: 1 !important;
      }
    }
  }

  &:active,
  &:hover {
    .issue-closed {
      display: none !important;
      opacity: 0 !important;
    }

    .issue-opened {
      display: inline-block !important;
      opacity: 1 !important;
    }
  }
}
