// Graphics
// ––––––––––––––––––––––––––––––––––––––––––––––––––

img,
picture,
svg,
video {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

svg {
  fill: currentColor;
  stroke: none;
  height: 1.3em;
}

.icon {
  fill-rule: evenodd;
  fill: $text-color-primary;
  display: inline-block;
  width: auto;
  vertical-align: text-bottom;
  transition: fill $transition;

  &.avatar {
    height: $medium-icon;
    border: $border-base;
    border-radius: 50%;
    transition: border-color $transition;
  }

  &.star-fill {
    fill: $yellow;
  }
}

* {
  &:active,
  &:hover,
  &:focus {
    & > .icon {
      fill: $text-color-highlight;
      border-color: $text-color-highlight;

      &.trash {
        fill: $red;
      }

      &.star {
        fill: $yellow;
      }

      &.star-fill {
        fill: currentColor;
      }
    }
  }
}

.site-logo {
  width: $big-icon;
  height: $big-icon;
  color: inherit;

  .icon {
    height: 100%;
    pointer-events: none;
    transition: ($transition-duration * 2) cubic-bezier(.3,0,.5,1);
    transition-property: transform, color;
  }

  &:active,
  &:hover {
    color: $text-color-highlight;

    .icon {
      transform: rotate(60deg);
    }
  }
}
