// Graphics
// ––––––––––––––––––––––––––––––––––––––––––––––––––

img,
svg,
video {
  display: block;
  max-width:100%;
  height:auto;
  border-style: none
}

figure {
  margin:0;
  padding:0
}

svg {
  fill: currentColor;
}

path {
  fill-rule: evenodd
}

.icon {
  display:inline-flex;
  align-items:center;
  justify-content:center;
  width:auto;
  height: 1.4em;
  overflow: visible !important;
  vertical-align: text-bottom;

  &.is-small {
    height:$small-icon
  }

  &.is-medium {
    height:$medium-icon
  }

  &.is-large {
    height:$large-icon
  }

  &.avatar {
    width: auto;
    height: $medium-icon;
  }

  &.dot {
    width: .8em;
    height: .8em;
    border: $border-width solid rgba(205, 217, 229, 0.2);
    border-radius: 50%;
  }

  &.issue-closed {
    fill: $green-200;
  }

  &.search {
    fill: currentColor;
  }

  &-text {
    position: relative;
    padding-left: 2em;
    color: inherit;
    font-weight: $medium-font-weight;
    line-height: inherit;
    white-space: nowrap;

    .icon {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      &.avatar {
        width: 1.8em;
        height: auto;
      }
    }
  }

  &-group {
    display: inline-block;
    width: auto;

    & > *:not(:first-child) {
      margin-left: .5em;
    }
  }
}

.dot-label {
padding-left: 1.4em;
}

a,
.a {
  .icon {
    color: $text-color-primary;
  }

  &:active,
  &:hover,
  &:focus {
    & > .icon {
      fill: currentColor;
      border-color: $text-color-highlight;

      &.eye {
        fill: $yellow-200;
      }

      &.pencil {
        fill: $green-300;
      }

      &.trash {
        fill: $red;
      }

      &.star {
        fill: $yellow;
      }

      &.star-fill {
        fill: currentColor;
      }
    }
  }
}



.site-logo {
  display: inline-block;
  color: inherit;

  .icon {
    width: auto;
    height: $large-icon;
    pointer-events: none;
    transition: ($transition-duration * 2) cubic-bezier(.3,0,.5,1);
    transition-property: transform, fill;
  }

  &:active,
  &:hover {
    .icon {
      fill: $orange;
      transform: rotate(60deg);
    }
  }
}

.avatar {
  display: inline-block;
  width: auto;
  height: ($large-icon * 3);
  border: $border-base;
  border-radius: 50%;
}

.void {
  width: 100%;
  max-width: 10rem;
  margin: 1em auto;
  opacity: .5;
}
