// Graphics
// ––––––––––––––––––––––––––––––––––––––––––––––––––

img,
picture,
svg,
video {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

svg {
  fill: none;
  stroke: currentColor;
  height: 1.3em;
}

.icon {
  display: block;
  width: auto;

  &.avatar {
    height: 3rem;
    border: $border-base;
    border-radius: 50%;
    transition: border-color $transition;
  }
}
