// Grid
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.container {
  position: relative;
  max-width: $block-width-xl;
  margin-right: auto;
  margin-left: auto;
  padding-right: $gutter;
  padding-left: $gutter;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: ($gutter / -2);
  margin-left: ($gutter / -2);
}

ul.row {
  padding-left: 0;
  list-style: none;
}

%col {
  flex: 0 0 auto;
  padding-right: $box-padding-y;
  padding-left: $box-padding-y;
}

.col {
  @extend %col;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

@for $i from 1 through $columns {
  $percentage: (100 / $columns * $i * 1%);
  .col-#{$i} {
    @extend %col;
    flex-basis: $percentage;
    max-width: $percentage;
  }

  @if $i != $columns {
    .col-offset-#{$i} {
      @extend %col;
      margin-left: $percentage;
    }
  }
}
