// Headers
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.site-header {
  padding-top: $box-padding-y;
  padding-bottom: $box-padding-y;
  background-color: $background-color-secondary;

  div[class^="col"] {
    display: flex;
    align-items: center;

    &:last-of-type {
      justify-content: flex-end;
    }

    & > *:not(:first-child) {
      margin-left: $gutter;
    }
  }

  .avatar {
    height: $big-icon;
    border-width: 2px;
  }
}

.page-header {
  margin-top: $gutter;

  div[class^="col"] {
    display: flex;
    align-items: center;

    &:last-of-type {
      justify-content: flex-end;
    }

    & > *:not(:first-child) {
      margin-left: $box-padding-y;
    }
  }
}
