// Headers
// ––––––––––––––––––––––––––––––––––––––––––––––––––

%header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header {
  @extend %header;
  padding: $box-padding;
}

.menu-header {
  @extend %header;
  position: relative;
  padding: $box-padding;
  color: inherit;
  font-weight: $medium-font-weight;
  text-decoration: none !important;

  &:active,
  &:hover {
    background-color: $background-color-secondary;
  }

  & + .submenu {
    border-top: $border-base;
  }

  &.is-active {
    background-color: $background-color-secondary;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: .3rem;
      background-color: $orange;
      content: '';
    }
  }
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: $gutter;
}

.site-header {
  padding-top: $box-padding-y;
  padding-bottom: $box-padding-y;
  background-color: $background-color-secondary;

  .row {
    & > * {
      display: flex;
      align-items: center;
    }
  }

  div[class^="col"] {
    display: flex;
    align-items: center;

    &:last-of-type {
      justify-content: flex-end;
    }
  }

  .avatar {
    height: $large-icon;
    border-width: ($border-width * 2);
  }

  .plus-circle {
    height: $medium-icon;
  }

  .dropdown {
    & + .dropdown {
      margin-left: $gutter;
    }

    &:last-of-type {
      .dropdown-content {
        right: 0;
      }
    }
  }
}
