// Site header
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.site-header {
  padding-top: ($gutter / 2);
  padding-bottom: ($gutter / 2);
  background-color: $background-color-secondary;

  div[class^="col"] {
    display: flex;
    align-items: center;

    &:last-of-type {
      justify-content: flex-end;
    }

    & > *:not(:first-child) {
      margin-left: $gutter;
    }
  }

  .icon {
    &.add-item {
      height: 2rem;
    }

    &.avatar {
      height: 4.8rem;
      border-width: 2px;
    }
  }
}

.site-logo {
  color: inherit;

  &:active,
  &:hover {
    color: $text-color-highlight;

    svg {
      transform: rotate(60deg);
    }
  }

  svg {
    height: 4.8rem;
    pointer-events: none;
    transition: ($transition-duration * 2) cubic-bezier(.3,0,.5,1);
    transition-property: transform, color;
    user-select: none;
  }
}

/*
.site {
  &-header {


    &-right {

    }

    a {
      color: inherit;

      &:active,
      &:hover {
        color: $text-color-highlight;
      }
    }
  }

  &-logo {
    &:active,
    &:hover {

      svg {
        transform: rotate(60deg);
      }
    }
  }
}

.header-icon {
  display: inline-block;
}
*/
