// Headers
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.site-header {
  padding-top: $box-padding-y;
  padding-bottom: $box-padding-y;
  background-color: $background-color-secondary;

  div[class^="col"] {
    display: flex;
    align-items: center;

    &:last-of-type {
      justify-content: flex-end;
    }

    & > *:not(:first-child) {
      margin-left: $gutter;
    }
  }

  .avatar {
    height: $big-icon;
    border-width: 2px;
  }

  .plus-circle {
    height: $medium-icon;
  }

  .dropdown {
    right: 0;
  }
}

.page-header,
.section-header {
  margin-top: $gutter;
}

.section-header {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;

  & > * {
    margin-left: $box-padding-x;

    &:first-child {
      margin-right: auto;
      margin-left: 0;
    }
  }
}
