// Inline elements
// ––––––––––––––––––––––––––––––––––––––––––––––––––

a {
  display: inline-block;
  background-color: transparent;
  color: $text-color-highlight;
  text-decoration: none;
  text-decoration-skip-ink: auto;

  &:focus,
  &:hover {
    text-decoration: underline;

    .mute {
      color: $text-color-highlight;
    }
  }
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted
}

b,
strong {
  font-weight: $bold-font-weight;
}

mark {
  padding: 0;
  border: 1px solid $orange-300;
  border-radius: 3px;
  background-color: $yellow-100;
  color: black;
}

small {
  font-size: $small-font-size;
}

sub,
sup {
  position: relative;
  font-size: $small-font-size;
  line-height: 0;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

::-moz-selection {
  background: rgba($blue-400, .6);
  text-shadow: none;
}

::selection {
  background: rgba($blue-400, .6);
  text-shadow: none;
}

.counter {
  display: inline-block;
  min-width: $gutter;
  margin-left: 1em;
  padding-right: .5em;
  padding-left: .5em;
  border-radius: 1em;
  background-color: rgba($grey-300, 0.2);
  color: $grey-200;
  font-size: $small-font-size;
  font-weight: $medium-font-weight;
  line-height: $gutter;
  text-align: center;
  pointer-events: none;
  user-select: none;
}

.dot {
  display: inline-block;
  z-index: 1;
  position: relative;
  top: .15em;
  width: .9em;
  height: .9em;
  margin-right: .25em;
  border: $border-width solid rgba(205, 217, 229, 0.2);
  border-radius: 50%;

  &-label {
    display: inline-block;
    color: $text-color-secondary;
    font-size: $small-font-size;
  }
}

.keys {
  display: inline-block;
  color: $text-color-secondary;
  font-size: $small-font-size;
}

.label {
  display: inline-block;
  margin-left: 1em;
  padding-right: .5em;
  padding-left: .5em;
  border: $border-base;
  border-radius: 1em;
  color: $text-color-secondary;
  font-size: $small-font-size;
  white-space: nowrap;
  pointer-events: none;
  user-select: none;
}

.mute {
  color: $grey-400;
  text-decoration-color: inherit;
  white-space: nowrap;
}

:not(tr).strikethrough {
  display: inline-block;
  position: relative;
}

:not(tr).strikethrough,
tr.strikethrough td {
  &::before {
      position: absolute;
      top: 47%;
      left: 0;
      width: 100%;
      border-bottom: 1px solid currentColor;
      content: '';
  }
}
