// Inline elements
// ––––––––––––––––––––––––––––––––––––––––––––––––––

a,
.a {
  background-color: transparent;
  color: $text-color-highlight;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  cursor: pointer;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted
}

b,
strong,
.bold {
  font-weight: $bold-font-weight;
}

.medium-bold {
  font-weight: $medium-font-weight;
}

mark {
  padding: 0;
  border-radius: 2px;
  background-color: $yellow-100;
  color: $black;
}

small,
.small {
  font-size: $small-font-size;
}

sub,
.sub {
  -ms-font-feature-settings: 'subs' 1, $default-font-features;
  -o-font-feature-settings: 'subs' 1, $default-font-features;
  font-feature-settings: 'subs' 1, $default-font-features;
}

sup,
.sup {
  -ms-font-feature-settings: 'sups' 1, $default-font-features;
  -o-font-feature-settings: 'sups' 1, $default-font-features;
  font-feature-settings: 'sups' 1, $default-font-features;
}

.no-calt {
  -ms-font-feature-settings: 'calt' 0, 'frac' 1, 'kern' 1, 'liga' 1, 'ss01' 1, 'ss03' 1;
  -o-font-feature-settings: 'calt' 0, 'frac' 1, 'kern' 1, 'liga' 1, 'ss01' 1, 'ss03' 1;
  font-feature-settings: 'calt' 0, 'frac' 1, 'kern' 1, 'liga' 1, 'ss01' 1, 'ss03' 1;
}

::-moz-selection {
  background: rgba($blue-400, .6);
  text-shadow: none;
}

::selection {
  background: rgba($blue-400, .6);
  text-shadow: none;
}

.counter {
  -ms-font-feature-settings: 'tnum' 1, $default-font-features;
  -o-font-feature-settings: 'tnum' 1, $default-font-features;
  display: inline-block;
  min-width: $gutter;
  margin-left: auto;
  padding-right: .5em;
  padding-left: .5em;
  border-radius: 1em;
  background-color: rgba($grey-300, 0.2);
  color: $grey-200;
  font-feature-settings: 'tnum' 1, $default-font-features;
  font-size: $small-font-size;
  font-weight: $bold-font-weight;
  line-height: $gutter;
  text-align: center;
  pointer-events: none;
  user-select: none;
}

.dot {
  &-label {
    display: inline-flex;
    align-items: center;
  }

  &-icon {
    z-index: 1;
    position: relative;
    flex: 0 0 auto;
    width: .8em;
    height: .8em;
    margin-right: .5em;
    border: $border-width solid rgba(205, 217, 229, 0.2);
    border-radius: 50%;
  }
}

.invisible-link {
  display: inline;
  color: inherit !important;

  &:hover {
    text-decoration: none;
  }
}

.keys {
  display: inline-block;
  color: $text-color-secondary;
  font-size: $small-font-size;
}

.tag {
  display: inline;
  margin-left: .5em;
  padding-right: .5em;
  padding-left: .5em;
  border: $border-base;
  border-radius: 1em;
  color: $text-color-secondary;
  font-size: $small-font-size;
  white-space: nowrap;
}

.mute {
  color: $grey-300;
  text-decoration-color: inherit;
}

.favorites-tag {
  display: inline-block;
  position: relative;
  margin-left: auto;
  padding-right: .5em;
  font-size: $small-font-size;
  white-space: nowrap;

  &-text {
    display: none;
    position: absolute;
    right: 0;
    padding-right: 2em;
    padding-left: .5em;
    border: $border-base;
    border-radius: 1em;
    opacity: 0;
    pointer-events: none;
    transition: opacity $transition;
    user-select: none;
  }

  &:hover {
    .favorites-tag-text {
      display: block;
      opacity: 1;
    }
  }

  .icon {
    vertical-align: middle;
  }
}

.section-title {
  display: inline-block;
  @extend %heading;
}

.no-wrap {
  white-space: nowrap;
}
