// Lists
// ––––––––––––––––––––––––––––––––––––––––––––––––––

dl,
ol,
ul {
  list-style: none;
}

:not(ul).box-content {
  li {
    position: relative;
    padding-left: 1.2em;

    &::before {
      position: absolute;
      left: 0;
      content: '\2022';
    }
  }
}
