// List
// ––––––––––––––––––––––––––––––––––––––––––––––––––

dd,
dt,
li {
  margin:0;
  padding:0
}

dl,
ol,
ul {
    display: block;
    margin: 0;
    padding-left: $box-padding-x;
    list-style-type: disc
}

.no-list {
  padding-left: 0;
  list-style: none;
}
