// Menu
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.menu {
  padding-left: 0;
  list-style: none;

  &-item {
    display: block;
    width: 100%;
    padding: ($box-padding-y / 2) $box-padding-x;
    color: inherit;
    font-size: $small-font-size;
    font-weight: $medium-font-weight;
    text-decoration: none !important;
    white-space: nowrap;

    &:active,
    &:hover {
      background-color: $background-color-secondary;
    }
  }
}
