// Search form
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.search {
  &-form {
    display: inline-flex;
    position: relative;
    height: 2.5em;
    margin-top: $box-padding-y;
    border: $border-width solid $grey-400;
    border-radius: $border-radius;
    background-color: $background-color-primary;
    transition: $transition;
    transition-property: border-color, border-radius;

    @include media (m) {
      margin-top: 0;
    }

    &:active,
    &:hover,
    &.expanded {
      border-color: $text-color-highlight;
    }

    &.expanded {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &-button,
  &-input {
    border: 0 !important;
    background-color: transparent !important;
  }

  &-button {
    width: 3em;
    padding: 0;
    border: none;
    background-color: transparent !important;
    line-height: 1;

    &:active,
    &:hover {
      .icon {
        fill: $text-color-highlight;
      }
    }
  }
}

.expanded-search {
  z-index: 100;
  position: absolute;
  top: 100%;
  left: -.1rem;
  width: calc(100% + .2rem);
  max-height: 0;
  overflow: hidden;
  transition: max-height $transition;

  .box {
    margin: 0;
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-color: $text-color-highlight;
    background-color: $background-color-primary;

    &-row:first-child {
      border-top: $border-base;
    }
  }

  .menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: .8em;
    padding-left: .8em;
    border: 0;
    border-radius: 0;
    background-color: transparent;

    &:active,
    &:hover {
      background-color: $background-color-secondary;
    }
  }
}
