// Tables
// ––––––––––––––––––––––––––––––––––––––––––––––––––

table {
  display: block;
  width: 100%;
  margin-bottom: $gutter;
  overflow-x: auto;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;

  @include media (m) {
    display: table;
    overflow-x: initial;
  }

  &.box {
    overflow-x: scroll;
    border-collapse: separate;

    td,
    th {
      padding: $box-padding;
    }

    td {
      border-top: $border-base;
    }
  }
}

thead.box-header {
  display: table-header-group;
}

tfoot.box-footer,
th {
  font-weight: $bold-font-weight;
}
