// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––

%bold {
  font-weight: $bold-font-weight;
  letter-spacing: .025em;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %bold;
  line-height: inherit;
}

.disambuguate {
  -moz-font-feature-settings: 'ss01', 'ss02';
  -webkit-font-feature-settings: 'ss01', 'ss02';
  font-feature-settings: 'ss01' on, 'ss02' on;
}
