// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––

%heading {
  font-weight: $bold-font-weight;
  letter-spacing: .025em;
  line-height: inherit;
  text-transform: uppercase;
}

.heading {
  @extend %heading;
  margin-bottom: ($gutter / 2);

  &:not(:first-child) {
    margin-top: ($gutter / 2);
  }
}

.title {
  margin-top: $gutter;
  font-size: $big-font-size;
  font-weight: $medium-font-weight;
}

.mute {
  color: $grey-400;
  text-decoration-color: inherit;
}

.disambuguate {
  -moz-font-feature-settings: 'ss01', 'ss02';
  -webkit-font-feature-settings: 'ss01', 'ss02';
  font-feature-settings: 'ss01' on, 'ss02' on;
}
