// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––

%heading {
  font-weight: $bold-font-weight;
  letter-spacing: .025em;
  line-height: inherit;
  text-transform: uppercase;
}

.heading {
  @extend %heading;
  margin-bottom: $box-padding-y;

  &:not(:first-child) {
    margin-top: $box-padding-y;
  }
}

.title {
  font-size: $big-font-size;
  font-weight: $medium-font-weight;
}

.disambiguate {
  -moz-font-feature-settings: 'ss01', 'ss02';
  -webkit-font-feature-settings: 'ss01', 'ss02';
  font-feature-settings: 'ss01' on, 'ss02' on;
}
