// Utilities & Misc
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.padding {
  display: block;
  padding: $box-padding;

  &-small {
    display: block;
    padding: ($box-padding-y / 2) $box-padding-x;
  }
}

.push {
  margin-left: auto !important;
}

[hidden] {
  display: none
}

[disabled] {
  cursor: default !important;
  opacity: 0.5;
  pointer-events: none !important;
}

@media (prefers-reduced-motion: reduce) {
  * {
    &,
    &::before,
    &::after {
      -webkit-animation-duration: 0.01ms !important;
      -webkit-animation-iteration-count: 1 !important;
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      scroll-behavior: auto !important;
      transition-duration: 0.01ms !important;
    }
  }
}
