// Utilities & Misc
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.space-above {
  margin-top: 10rem; // kept for compatibility issues
  margin-top: 10vh;
}

.push {
  margin-left: auto !important;
}

[hidden] {
  display: none
}

[disabled] {
  cursor: default !important;
  opacity: 0.5;
  pointer-events: none !important;
}

@media (prefers-reduced-motion: reduce) {
  * {
    &,
    &::before,
    &::after {
      -webkit-animation-duration: 0.01ms !important;
      -webkit-animation-iteration-count: 1 !important;
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      scroll-behavior: auto !important;
      transition-duration: 0.01ms !important;
    }
  }
}
