// Utilities & Misc
// ––––––––––––––––––––––––––––––––––––––––––––––––––

[hidden] {
  display: none
}

#particles-js {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

@media (prefers-reduced-motion: reduce) {
  * {
    &,
    &::before,
    &::after {
      -webkit-animation-duration: 0.01ms !important;
      -webkit-animation-iteration-count: 1 !important;
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      scroll-behavior: auto !important;
      transition-duration: 0.01ms !important;
    }
  }
}
