// Global variables
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// –– Colors ––––––––––––––––––––––––––––––––––––––––

$background-color-primary:   $grey-900;
$background-color-secondary: $grey-800;
$background-color-tertiary:  $grey-700;

$text-color-primary:   $grey-100;
$text-color-secondary: $grey-300;
$text-color-highlight: $blue-300;

$light-opacity-factor: .5;

// –– Typography ––––––––––––––––––––––––––––––––––––

$small-font-size:   1.2rem;
$base-font-size:    1.4rem;
$big-font-size:     1.5rem;
$biggest-font-size: 1.6rem;

$base-line-height: 1.61803398875; // golden ratio

$base-font-weight:   400;
$medium-font-weight: 500;
$bold-font-weight:   600;

$default-font-features: 'frac' 1, 'kern' 1, 'liga' 1, 'ss01' 1, 'ss03' 1; // https://rsms.me/inter/#features

// –– Borders –––––––––––––––––––––––––––––––––––––––

$border-width:  .1rem;
$border-color:  $grey-600;
$border-base:   $border-width solid $border-color;
$border-radius: .6rem;

// –– Icons –––––––––––––––––––––––––––––––––––––––––

$small-icon:  1.6rem;
$medium-icon: 2.4rem;
$large-icon:  4.8rem;

// –– Spacing –––––––––––––––––––––––––––––––––––––––

$gutter: ($base-font-size * $base-line-height);

$box-padding-x: ($gutter / 1.5);
$box-padding-y: ($gutter / 2);
$box-padding: $box-padding-y $box-padding-x;

$block-width-xs:  38.4rem;
$block-width-s:   51.2rem;
$block-width-m:   76.8rem;
$block-width-l:   96.0rem;
$block-width-xl: 112.0rem;

$columns: 8;

// –– Transitions –––––––––––––––––––––––––––––––––––

$transition-duration: .075s;
$transition: $transition-duration cubic-bezier(.3,0,.5,1);

// –– Mixins ––––––––––––––––––––––––––––––––––––––––

@mixin media ($media) {
  @if $media == 's' {
    @media (min-width: $block-width-s) {
      @content;
    }
  } @else if $media == 'm' {
    @media (min-width: $block-width-s) {
      @content;
    }
  } @else if $media == 'l' {
    @media (min-width: $block-width-m) {
      @content;
    }
  }
}
