// –– Grid ––––––––––––––––––––––––––––––––––––––––––

.g {
  &-block {
    display: flex;
    flex-direction: column;
    max-width: $block-width-l;
    margin: 0 auto;
    padding: 0 $vr;
  }

  &-fixed-width,
  &-fluid-width {
    margin-top: $vr;
  }

  @include media (m) {
    &-block {
      flex-direction: row;

      & > * + * {
       margin-left: $vr;
     }
    }

    &-fixed-width,
    &-fluid-width {
      margin-top: $vr;
    }

    &-fixed-width {
      flex: 0 0 24rem;
    }

    &-fluid-width {
      flex: 1;
    }
  }
}
