html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main.section {
  flex-grow: 1;
}

.homepage {
  &.hero {
    position: relative;

    .hero-head,
    .hero-body,
    .hero-foot {
      z-index: 1;
    }

    .hero-body {
      .subtitle {
        line-height: 1.5;
        padding-top: $block-spacing;
      }
    }

    .hero-foot {
      .copyright {
        color: rgba(255, 255, 255, .65);

        a {
          color: $white !important;
        }
      }
    }
  }

  .particles-js-canvas-el {
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

.hero-foot,
.footer {
  .dropdown {
    &-content {
      overflow: hidden !important;
    }

    &-item {
      display: block;
      width: auto !important;
    }

    &-menu {
      min-width: 0;
      right: 0;
      white-space: normal;
    }
  }

  .tabs {
    overflow: visible;

    a {
      border-bottom: none;
    }

    ul {
      border-bottom: 0;
      flex-grow: 0;
    }

    li > span {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-bottom: -1px;
      padding: 0.5em 1em;
    }

    li > a {
      padding: $block-spacing;
    }
  }
}

.footer {
  padding-bottom: 0;
  padding-top: 0;
}

.tabs.is-toggle li.is-active a {
  background-color: #2793da;
  border-color: #2793da;
}

.avatar {
  border: 1px solid #dbdbdb;
  border-radius: 1rem;
  overflow: hidden;
}

.image {
  position: relative;

  & > .file-upload {
    height: 100% !important;
    opacity: 0;
    padding: 0 !important;
    position: absolute;
    transition: opacity .15s;
    width: 100% !important;

    &:hover,
    &:active {
      opacity: .85;
    }
  }

  .file-cta {
    border: none;
    height: 100% !important;
    justify-content: center;
    padding: 0 !important;
    width: 100% !important;
  }

  .file-label {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100% !important;
  }
}

.copyright {
  a {
    border: 0;
    display: inline;
    margin: 0;
    padding: 0;
  }
}

.time {
  display: inline-block;
  font-size: 80%;
  font-weight: 600;
  padding: .75rem;
  position: absolute;
  right: 0;
  top: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
