// –– Generic styles ––––––––––––––––––––––––––––––––
// i.e. styles applied to generic tags
// see https://dev.to/hankchizljaw/a-modern-css-reset-6p3 for normalization inspiration

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -ms-font-feature-settings: "lnum" 1, "kern" 1, "liga" 1;
  -o-font-feature-settings: "lnum" 1, "kern" 1, "liga" 1;
  min-height: 100vh;
  margin: 0;
  background-color: $bg-color-primary;
  color: $text-color-primary;
  font: $base-font;
  font-feature-settings: "lnum" 1, "kern" 1, "liga" 1;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
  letter-spacing: .0125em;
  text-rendering: optimizeLegibility;
}

@supports (font-variation-settings: normal) {
  body { font-family: 'Inter var', $base-font-family; }
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
dt {
  font-size: inherit;
  font-weight: $bold-font-weight;
  letter-spacing: .045em;
  line-height: inherit;
  text-transform: uppercase;
}

a {
  background-color: transparent;
  color: $text-color-link;
  text-decoration: none;
  text-decoration-skip-ink: auto;

  &:active,
  &:hover {
    text-decoration: underline;
  }
}

b,
strong,
th {
  font-weight: $bold-font-weight;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

img,
picture {
  display: block;
  width: 100%;
}

svg {
  fill: none;
  stroke: currentColor;
  display: inline-block;
  width: auto;
  height: 1em;
}

address,
input,
button,
textarea,
select {
  font: inherit;
}

@import 'grid';

// –– Individual styles –––––––––––––––––––––––––––––

.site-logo {
  height: 3em;
  cursor: pointer;
  transition: $transition-duration cubic-bezier(.3,0,.5,1);
  transition-property: transform, color;

  &:active,
  &:hover {
    transform: rotate(60deg);
    color: #5889d6;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $gutter;
  background-color: $bg-color-secondary;
}

.icon {
  height: 1.4em;
}

.dot-label {
  display: inline-block;
  color: $text-color-secondary;
  font-size: $small-font-size;

  & > .dot {
    display: inline-block;
    z-index: 1;
    position: relative;
    top: .15em;
    width: 1em;
    height: 1em;
    margin-right: .25em;
    border: $border-width solid rgba(205, 217, 229, 0.2);
    border-radius: 50%;
  }
}

.keys {
  display: inline-block;
  color: $text-color-secondary;
  font-size: $small-font-size;
}

.card {
  margin: ($gutter / 2) 0;

  &-header {
    font-weight: 500;
  }

  &-content {
    margin: ($gutter / 2) 0;
  }

  &-footer {
    & > * + * {
      margin-left: $vr;
    }
  }
}

.button {
  appearance: none;
  display: inline-block;
  padding: ($gutter / 4) $gutter;
  border: $border-width solid $grey-600;
  border-radius: $border-radius;
  background-color: $button-bg-primary;
  font-weight: $bold-font-weight;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  transition: $transition-duration cubic-bezier(.3,0,.5,1);
  transition-property: background-color,border-color;
  user-select: none;

  &:hover,
  &:active {
    border-color: $grey-300;
    background-color: $grey-600;
  }
}

.label {
  appearance: none;
  display: inline-block;
  margin-left: 1em;
  padding: 0 7px;
  border: $border-width solid currentColor;
  border-radius: 1em;
  background-color: initial!important;
  color: $text-color-secondary;
  font-size: $small-font-size;
  vertical-align: middle;
  white-space: nowrap;
  pointer-events: none;
  user-select: none;
}

.box {
  -webkit-mask:linear-gradient(#fff 0 0);
  margin: $gutter 0;
  overflow: clip;
  border: $border-base;
  border-radius: $border-radius;
  mask:linear-gradient(#fff 0 0);

  & > *:last-child {
    margin-bottom: 0;
  }

  &-header {
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    margin-bottom: ($border-width * -1); // this is to compensate the border-bottom of 1px
    padding: $gutter;
    border-bottom: $border-base;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    background-color: $bg-color-secondary;

    & > * {
      margin-right: $gutter;

      &:first-child {
        margin-right: auto;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-content {
    padding: ($gutter / 2) $gutter;
  }

  ul.box-content {
    margin-top: 0;
    padding: 0;
    border: 0;

    li {
      padding: ($gutter / 2) $gutter;
      transition: background-color $transition;

      &:active,
      &:hover {
        background-color: $bg-color-secondary;
      }
    }

    li + li {
      border-top: $border-base;
    }
  }
}

.role {
  &-client {
    background-color: $green;
  }

  &-adversary {
    background-color: $red;
  }

  &-employee {
    background-color: $blue;
  }

  &-other {
    background-color: $yellow;
  }
}

.sidebar {
  position: sticky;
  top: 0;
  flex: 0 0 25%;
  margin: $gutter 0;
  overflow: hidden;
  border: $border-base;
  border-radius: $border-radius;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li:not(.is-active) {
    display: flex;
    justify-content: space-between;
    padding: ($gutter / 2) $gutter;
    transition: background-color $transition;

    &:active,
    &:hover {
      background-color: $bg-color-secondary;
    }
  }

  li + li {
    border-top: $border-base;
  }

  .is-active {
    background-color: $bg-color-secondary;

    & > span {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: ($gutter / 2) $gutter ($gutter / 2) calc(#{$gutter} - 2px);
      border-left: 2px solid currentColor;
    }
  }
}

.main {
  flex: 1 1 auto;
}

// –– Finals ––––––––––––––––––––––––––––––––––––––––

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
