<nav aria-label="Sidebar" class="box sidebar">
  <ul role="menubar" aria-label="Sidebar">
    <li class="sidebar-category">
      <%= link_to "Dashboard", dashboard_path, class: "box-row#{ ' is-active' if current_page?(dashboard_path) }"  %>
    </li>
    <li class="sidebar-category">
      <%= link_to "Account", account_path, class: "box-row#{ ' is-active' if current_page?(account_path) }"  %>
    </li>
  </ul>
</nav>
