<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><%= link_to 'Overview', dashboard_path %></li>
    <li><a>Deadlines</a></li>
    <li><%= link_to 'Account', dashboard_account_index_path %></li>
  </ul>
  <p class="menu-label">
    Cases
  </p>
  <ul class="menu-list">
    <li><a>Overview</a></li>
    <li><a>Cloud Storage</a></li>
    <li><a>Authentication</a></li>
  </ul>
  <p class="menu-label">
    Time management
  </p>
  <ul class="menu-list">
    <li><a>Payments</a></li>
    <li><a>Transfers</a></li>
    <li><a>Balance</a></li>
  </ul>
  <p class="menu-label">
    Contacts
  </p>
  <ul class="menu-list">
    <li><a>Payments</a></li>
    <li><a>Transfers</a></li>
    <li><a>Balance</a></li>
  </ul>
</aside>
