<%- if @particles_js %>
<div id="particles-js" style="z-index:-1;position:absolute;top:0;right:0;bottom:0;left:0;overflow:hidden"></div>
<script type="text/javascript" src="particles.load.js"></script>
<% end -%>
