<footer class="container">
  <div class="tabs is-small">
    <ul>
      <li><span class="copyright">&copy;&nbsp;<a href="https://moritzstuker.ch" target="_blank">Moritz Stuker</a>&nbsp;2017</span></li>
      <li><a href="https://github.com/epfl-extension-school/capstone-proposal-wad-c5-s1-2995-2047" target="_blank">GitHub</a></li>
    </ul>

    <ul>
      <li>
        <div class="dropdown is-up">
          <div class="dropdown-trigger">
            <button class="button<%= local_assigns[:hero] ? ' is-light' : ' ' %>is-outlined is-rounded is-small" aria-haspopup="true" aria-controls="dropdown-menu">
              <span class="icon is-small">
                <i class="fas fa-globe-africa" aria-hidden="true"></i>
              </span>
              <span>English</span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a href="#" class="dropdown-item has-text-dark is-size-7">Français</a>
            </div>
          </div>
        </div>
      </li>
      <li><a>Privacy policy</a></li>
    </ul>
  </div>
</footer>
