<% if obj.errors.any? %>
<div class="flash alert">
  <div class="flash-content">
    <p>The form contains <%= pluralize(obj.errors.count, "error") %>.</p>
    <ul>
    <% obj.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <button type="button" class="ghost flash-close">
    <%= icon_tag('x-circle') %>
  </button>
</div>
<% end %>
