<header class="site-header">
  <div class="container">
    <div class="row">
      <div class="col-2 no-col-s order-s-0 order-l-0">
        <%= link_to_if(is_logged_in?, icon_tag('empire'), projects_path, class: 'site-logo') do %>
          <%= link_to icon_tag('empire'), root_path, class: 'site-logo' %>
        <% end %>
      </div>

      <div class="col-4 order-s-2 order-l-1">
        <%= render 'search_form' if is_logged_in? %>
      </div>

      <div class="col-2 no-col-s order-s-1 order-l-2">
        <%= is_logged_in? ? render('header_links') : link_to('Log in', login_path, class: 'big button') %>
      </div>
    </div>
  </div>
</header>
