<section class="hero is-info is-medium is-bold">
  <div class="hero-head">
    <%= render partial: "navbar" %>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <%= title.html_safe %>
      </h1>
      <h2 class="subtitle">
        <%= subtitle.html_safe %>
      </h2>
    </div>
  </div>
</section>
