<nav class="navbar <%= local_assigns[:hero] ? 'is-transparent' : 'is-white' %>">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="../">
        <i class="fab fa-empire fa-3x"></i>
      </a>
      <span class="navbar-burger burger" data-target="navbarMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <ul class="navbar-end">
        <% button_classes = "button " + (local_assigns[:hero] ? "is-light " : "") + "is-outlined is-rounded" %>
        <% anchor_classes = (local_assigns[:hero] ? "" : "has-text-dark") %>
        <% if logged_in? %>
        <li class="navbar-item"><%= link_to "Dashboard", dashboard_path, class: button_classes %></li>
        <li class="navbar-item"><%= link_to "Disconnect", logout_path, class: anchor_classes %></li>
        <% else %>
        <li class="navbar-item"><%= link_to "Connect", login_path, class: button_classes %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
