<%= form_tag projects_path, method: :get do %>
<div class="inline-form">
  <%= text_field_tag :q, params[:q], placeholder: 'Search...' %>
  <%= button_tag 'Search', name: nil do %>
  <%= icon_tag('search') %>
  <% end %>
</div>
<% end %>
