<%= form_tag root_path, method: 'GET' do %>
<div class="inline-form">
  <%= text_field_tag 'q', nil, placeholder: 'Search...' %>
  <%= button_tag 'Search' do %>
  <%= icon_tag('search') %>
  <% end %>
</div>
<% end %>
