<nav class="sidebar">
  <ul>
    <% ApplicationController::SIDEBAR_PAGES.each do |key, label| %>
      <% if current_page?(eval("#{key}_path")) %>
        <li class="is-active"><span><%= label %><span class="counter"><%= page_items(key).count %></span></span></li>
      <% else %>
        <li><%= link_to label, eval("#{key}_path") %><span class="counter"><%= page_items(key).count %></span></li>
      <% end %>
    <% end %>
  </ul>
</nav>
