<nav class="box sidebar">
  <% ApplicationController::SIDEBAR_PAGES.each do |key, label| %>
    <%= link_to sidebar_text(label, key), key, q: params[:q], class: "box-row#{ ' is-active' if current_page?(key) }" %>
  <% end %>
</nav>
